html
{
	font-size: 14px;
	background-color: white;
}

header, footer, article, section, .container, p
{
	margin:0;
}

/*Body, Row, and Page Container Styles*/
.container
{
	margin: 0 auto;
	min-width: 350px;
	margin-top: 10px;
	width: 65%;
}

#heading #header
{
		margin: 0 auto;
		text-align: center;
    font-size: 6em;
		margin-bottom: 10px;
		background-color: #A7597E;
		width: 50%;
		padding: 5px;
}

#heading p
{
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	background-color: #A7597E;
	width: 35%;
	padding: 5px;
}

#heading
{
	background-image: url(flowers.png);
	padding: 40px;
	color: white;
}

div
{
	padding: 10px;
	color: white;
	background-color: #A7597E;
	display: inline-block;
	border: 3px solid black;
	margin-bottom: 40px;
	box-shadow: 10px 10px 50px 0 black;
}

div h2
{
	font-size: 40px;
}

div p
{
	font-size: 20px;
}

#images
{
	width: 30%;
	height: 30%;
	margin: 0 13px;
}

section
{
	margin: 0 auto;
}
