body
{
  border: 2px solid black;
}
#section1
{
  width: 45%;
  float: left;
  background-color: blue;
  margin: 5px;
  color: white;
  height: 300px;
  border: 10px solid black;
  padding: 10px;
}
#section2
{
  width: 45%;
  float: right;
  background-color: red;
  margin: 5px;
  color: white;
  height: 300px;
  border: 10px solid black;
  padding: 10px;
}
#section3
{
  clear: both;
  background-color: green;
  margin: 10px 10px 10px 10px
  border: 5px solid black;
  color: white;
  padding: 5px;
}
footer
{
  width: 100%;
  clear: both;
  background-color: lime;
  margin: 2px;
}
.heading
{
  border: 5px solid green;
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
}
