/*
   Eating Well in Season style sheet
   Filename: styles.css

   Author:   David Shelby
   Date:     2/16/17
   HTML5 and CSS3 Illustrated Unit E, Independent Challenge 4
 */

/* reset styles */
article, body, div, footer, header, h1, h2, p {
   border: 0;
   padding: 0;
   margin: 0;
   font-size: 12px;
}

/* body and page container */
.container {
   max-width: 800px;
   margin: 0 auto;
   background-color: hsl(53, 91%, 61%); /*background color for aside*/
   box-shadow: inset 0 0 3px 5px rgb(170, 189, 126);
}
body {
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  background-color: rgb(170, 189, 126); /*background color for body*/
}
p {
  font: 1.6em 'Verdana', Geneva, sans-serif;
}

/* header section */
header {
   padding: 0 1em;
   text-align: center;
   color: hsl(53, 91%, 61%);
   background-color: rgb(161, 127, 67);
   box-shadow: inset 0 0 3px 5px rgb(170, 189, 126);
}
header h1 {
   padding-top: 0.4em;
   font-weight: normal;
   font-size: 4.6em;
   line-height: 0.8em;
}
header p {
   padding: 0.4em 0 0.8em;
   color: floralwhite;
}

/* main content */
article {
   width: 62.5%;
   float: left;
   background-color: floralwhite;
   box-shadow: inset 5px 0 3px rgb(170, 189, 126);
}
article h2 {
   margin: 0.4em 0.4em 0;
   color: rgb(152, 192, 61);
   font-size: 2.8em;
   font-weight: normal;
}
article p {
   margin: 0 1em 0.4em 1.4em;
}

/* sidebar */
aside {
   width: 37.5%;
   float: right;
}
aside h2 {
   padding: 0.4em;
   font-size: 2.8em;
   line-height: 0.8em;
   font-weight: normal;
}
aside p {
   padding-left: 1.4em;
}

/* footer section */
footer {
   padding: 0.6em;
   background-color: black;
   color: floralwhite;
   text-align: center;
   clear: both;
   box-shadow: inset 0 0 3px 5px rgb(170, 189, 126);
}
footer p {
   margin: 0.4em;
}
footer span {
  color: rgb(161, 127, 67);
}
/* print styles */
@media print {
  article, article h2, aside, body, .container, footer, header , header h1, header p {
    color: #000;
    background-color: #fff;
    box-shadow: none;
  }
  body {
    max-width: 100%;
  }
}
@page {
  margin: 1in;
}
