header
{
  color: #F2EDD8;
  background-color: #7B8D8E;
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
}
#section1
{
  float: left;
  color: #F2EDD8;
  background-color: #7B8D8E;
  text-align: center;
  width: 40%;
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 150%;
  padding: 10px;
}
#section2
{
  float: right;
  color: #F2EDD8;
  background-color: #7B8D8E;
  text-align: center;
  width: 40%;
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 150%;
  padding: 10px;
}
body
{
  background-color: #5D4C46;
}
footer
{
  clear: both;
  color: #F2EDD8;
}
img
{
  padding: 10px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
