/*
  Lists and Tabels

  Developer:	David Shelby
  Date:		4/2/17
*/
table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td
{
    padding: 5px;
    text-align: center;
}

th:hover, td:hover
{
  background-color: #ffff00;
}
